.approaches {
  &-card {
    counter-increment: approaches-card-num;

    display: flex;
    flex-direction: row-reverse;
    gap: 90px;

    padding: 40px 40px 40px 74px;

    color: $white;

    background: linear-gradient(110deg, #91bd1f 1.85%, #3aa635 97.94%);
    border-radius: $big-radius;

    &:nth-child(2n) {
      flex-direction: row;
      padding-right: 74px;
      padding-left: 40px;

      @include bp(xxl) {
        padding: 32px;
      }

      @include bp(md) {
        padding: 16px;
      }
    }

    @include bp(xxl) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      padding: 32px;
    }

    @include bp(md) {
      padding: 16px;
      border-radius: $medium-radius;
    }

    &__wrapper {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }

    & p,
    h4 {
      margin-bottom: 8px;
      color: inherit;
    }

    & p {
      margin-bottom: 32px;
    }

    & h4 {
      text-transform: uppercase;
    }

    &__num {
      position: relative;
      width: 150px;
      height: 150px;
      margin-bottom: 50px;

      &::before {
        content: "0" counter(approaches-card-num);
        font-size: 10rem;
        color: $white-transparent;
      }

      @include bp(xxl) {
        width: 70px;
        height: 70px;

        &::before {
          font-size: 5rem;
        }
      }
      @include bp(md) {
        margin-bottom: 20px;
      }
    }

    &-tags {
      display: flex;
      flex: 0 1 auto;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;

      margin-bottom: 56px;

      font-size: 18px;

      &__tag {
        padding: 10px 20px;
        border: 1px solid $white;
        border-radius: $big-radius;
      }

      @include bp(md) {
        margin-bottom: 32px;
      }
    }

    &__img {
      overflow: hidden;
      width: 100%;
      object-fit: cover;
      border-radius: $medium-radius;

      @include bp(xxl) {
        aspect-ratio: 1/0.4;
      }

      @include bp(md) {
        aspect-ratio: unset;
        height: 170px;
        object-position: center 20%;
      }
    }
  }
}
