.message {
  position: absolute;

  padding: 20px 32px;

  background-color: $green-light;
  border: 1px $green solid;
  border-radius: 20px;

  p {
    font-family: "CTC_Bold", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.21;
  }

  &::before {
    content: "";

    position: absolute;

    display: block;

    width: 30px;
    height: 36px;

    background: url("/images/message-angle.svg") no-repeat center;
    background-size: 100%;
  }

  &_right {
    &-top {
      &::before {
        top: -19px;
        right: -1px;
      }
    }
    &-bottom {
      &::before {
        right: -1px;
        bottom: -19px;
        transform: scale(1, -1);
      }
    }
  }
  &_left {
    &-top {
      &::before {
        top: -19px;
        left: -1px;
        transform: scale(-1, 1);
      }
    }
  }
}
