.modal {
  position: fixed;

  width: 100%;
  max-width: 800px;
  padding: 80px;

  background-color: $white;
  border: none;
  border-radius: $medium-radius;
  &_burger-menu {
    top: 0;
    bottom: 0;
    left: 0;

    width: 50%;
    height: 100vmin;
    margin: unset;

    border-radius: 0;
  }
  &__close-button {
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;

    width: 32px;
    height: 32px;
    padding: 0;

    background-color: transparent;
    border: none;

    @include transition(opacity);

    svg {
      width: 32px;
      height: 32px;
      stroke: $black;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &::backdrop {
    opacity: 0.5;
    background-color: $black;
  }

  @include bp(lg) {
    width: calc(100% - 64px);
  }

  @include bp(md) {
    width: calc(100% - 32px);
    padding: 80px 16px 32px;
  }
}
