.modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  overflow-y: auto;

  width: 100%;
  max-width: 800px;
  padding: 80px;

  background-color: $white;
  border: none;
  border-radius: $medium-radius;

  &__close-button {
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;

    width: 32px;
    height: 32px;
    padding: 0;

    background-color: transparent;
    border: none;

    @include transition(opacity);

    svg {
      width: 32px;
      height: 32px;
      stroke: $black;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &_hidden {
    z-index: -1000;
    display: none;
  }

  @include bp(lg) {
    width: calc(100% - 64px);
  }

  @include bp(md) {
    width: calc(100% - 32px);
    padding: 80px 16px 32px;
  }
}
