.section-header {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-top: 5px;

  &__title {
    &_numbered {
      counter-increment: numbered-title-counter;
      position: relative;
      padding-left: 119px;

      &::before {
        content: "0" counter(numbered-title-counter);

        position: absolute;
        top: -5px;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 87px;
        height: 80px;

        font-size: px-to-rem(40);
        line-height: 1;
        color: $white;
        text-indent: 0;

        border-radius: $small-radius;

        @include bp(xl) {
          font-size: calc(40px - (40 - 32) * ((1200px - 100vw) / (1200 - 768)));
        }

        @include bp(md) {
          top: -6px;
          width: 56px;
          height: 56px;
          font-size: px-to-rem(32);
        }
      }

      @include bp(md) {
        padding-left: 81px;
      }
    }

    &_orange {
      &::before {
        background: $orangeOld;
      }
    }

    &_green {
      &::before {
        background: linear-gradient(110deg, $green-lighten 1.85%, $green 97.94%);
      }
    }
  }

  &__subtitle {
    font-size: px-to-rem(54);
    font-weight: 400;
    line-height: 1;

    @include bp(xl) {
      font-size: calc(54px - (54 - 32) * ((1200px - 100vw) / (1200 - 768)));
    }

    @include bp(md) {
      font-size: px-to-rem(16);
      line-height: 1.3;
    }
  }

  @include bp(md) {
    row-gap: 24px;
    padding-top: 6px;
    padding-bottom: 10px;
  }
}
