.stage {
  counter-increment: stages-counter;
  display: flex;
  column-gap: 40px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 133px;
    height: 133px;

    background-color: $green;
    border-radius: $medium-radius;

    svg {
      width: 64px;
      height: 64px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__title {
    &::before {
      content: "0" counter(stages-counter) "\00A0";
    }
  }
}

.stages-list {
  counter-reset: stages-counter;
}
