ul {
  margin: 0;
  padding: 0;
  list-style: none;
  & li {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 25px;
      height: 25px;

      background-color: $green;
      border-radius: $tiny-radius;
    }
  }
  &.center {
    & li {
      padding-left: 26px;
      &::before {
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
      }
    }
  }
}
