.accordion {
  &-list {
    &__item {
      cursor: pointer;
      position: relative;
      padding: 32px 0;
      border-bottom: 1px solid rgba(28, 28, 28, 0.1);
      &::before {
        display: none;
      }
      & p {
        min-height: 0;
      }
      &.active {
        & .accordion {
          &-list {
            &__question {
              margin-bottom: 32px;
            }
            &__answer {
              grid-template-rows: 1fr;
            }
            &__icon {
              background-color: $green-lighten;
              &::before {
                transform: translate3d(-50%, -50%, 0) rotate(-180deg);
                background-color: $white;
              }
              &::after {
                transform: translate3d(-50%, -50%, 0) rotate(0deg);
                background-color: $white;
              }
            }
          }
        }
      }
    }
    &__icon {
      position: relative;

      flex-shrink: 0;

      width: 50px;
      height: 50px;

      border: 1px solid $green-lighten;
      border-radius: 50%;
      &::before,
      &::after {
        content: "";

        position: absolute;
        top: 50%;
        right: 0;
        transform: translate3d(-50%, -50%, 0);

        width: 50%;
        height: 2px;

        opacity: 1;
        background-color: $green-lighten;

        transition:
          transform 0.4s,
          opacity 0.4s;
        transition-timing-function: var(--default-timing-function);
      }
      &::after {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);
      }
    }
    &__question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: margin 0.3s;
    }
    &__answer {
      overflow: hidden;
      display: grid;
      grid-template-rows: 0fr;

      min-height: 0;

      transition: grid-template-rows 0.4s;
      transition-timing-function: var(--default-timing-function);
    }
  }
}
