.approaches {
  counter-reset: approaches-card-num;
  position: relative;

  &__container {
    @include bp(xs) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__section-header {
    max-width: 60%;
    margin-bottom: 80px;

    @include bp(xxl) {
      max-width: 90%;
    }

    @include bp(md) {
      margin-bottom: 32px;
    }

    @include bp(xs) {
      max-width: unset;
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &__decor {
    position: absolute;
    z-index: -1;
    top: -665px;
    right: -520px;

    width: 967px;
    height: 999px;

    & img {
      @include bp(xxl) {
        display: none;
      }
    }

    @include bp(md) {
      top: 400px;
    }
  }

  &__message {
    bottom: 358px;
    left: -300px;
    max-width: 345px;

    @include bp(xxl) {
      display: none;
    }
  }

  &__shadow {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -229px;

    width: 976px;
  }

  &__cards {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @include bp(md) {
      row-gap: 24px;
    }
  }
}
