.header {
  position: sticky;
  z-index: 99;
  top: 0;

  margin: 34px 34px 0;
  padding: 20px 0;

  background-color: $white;
  border-radius: $medium-radius;
  box-shadow: 0px 0px 20px 0px rgba(4, 86, 0, 0.05);

  @media (min-width: 1920px) {
    margin: 34px auto 0;
  }

  @include bp(lg) {
    margin: 0;
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp(xxl_custom) {
      padding: 0 50px;
    }
  }

  &__wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 205px;

    & img {
      width: 100%;
    }
  }

  & .button {
    white-space: nowrap;

    &_white_bordered {
      padding: 22px 40px;
    }
  }

  &-select {
    position: relative;
    z-index: 1;

    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .button {
      position: relative;
      z-index: 1;
      overflow: hidden;
      display: flex;

      &__icon {
        @include transition(transform);
      }
    }

    & ul {
      position: absolute;
      z-index: 0;
      top: 50%;
      right: 0;
      left: 0;

      overflow: hidden;
      display: grid;
      grid-template-rows: 0fr;
      flex-direction: column;
      gap: 8px;
      justify-content: center;

      height: 0;
      min-height: 0;

      background-color: $white;
      border: 1px solid $text-dark;
      border-bottom-right-radius: $big-radius;
      border-bottom-left-radius: $big-radius;

      @include transition(grid-template-rows);

      & li {
        overflow: hidden;
        min-height: 0;
        padding-left: 0;

        &::before {
          display: none;
        }

        & a {
          padding: 8px 20px;
          color: $black-light;
          white-space: nowrap;
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        & ul {
          grid-template-rows: 1fr;
          height: auto;
          padding: 60px 20px 20px;
        }

        & .button {
          &__icon {
            transform: rotate(180deg);
            fill: $white;
          }
        }
      }
    }
  }

  &-menu {
    display: flex;
    gap: 16px;
    align-items: center;

    & .button {
      padding: 10px 20px;
      border-radius: $big-radius;
    }
  }

  &__entrance {
    cursor: pointer;

    display: flex;
    gap: 10px;
    align-items: center;

    padding: 10px 20px;

    color: $text-light;

    border-radius: $big-radius;

    @include transition(all);

    .button__wrapper {
      flex-direction: row-reverse;
    }

    & svg {
      max-width: unset;
      color: $orange;
    }

    @media (hover: hover) {
      &:hover {
        color: $white;
        background-color: $orange;

        & svg {
          color: $white;
        }
      }
    }
  }

  &__burger {
    overflow: visible;
    display: none;
    justify-content: center;

    & .button__wrapper {
      gap: 0;
    }

    & .button__icon {
      flex: 0 0 24px;
    }
  }

  @include bp(xxl) {
    & .container {
      gap: 50px;
    }

    &-logo {
      width: 100%;
    }

    &__wrapper:not(:has(.header__logo)) {
      justify-content: flex-end;
      width: 100%;
    }

    &-select {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      align-items: flex-start;

      margin-bottom: 32px;

      & .button {
        overflow: unset;
        padding: 10px 20px;
        border: none;

        &__icon {
          display: none;
        }
      }

      & ul {
        position: relative;

        overflow: unset;
        display: flex;
        gap: 8px;

        height: auto;

        border: none;

        & li {
          margin-bottom: 8px;
          font-size: 16px;
          color: $text-light;

          &::before {
            display: none;
          }

          & a {
            padding: 4px 20px;
          }
        }
      }
    }

    &-login {
      width: fit-content;
    }

    &-menu {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 32px;
    }

    &__burger {
      display: block;
    }
  }

  @include bp(md) {
    & .container {
      padding: 0 16px;
    }

    & .button__request {
      border: none;
    }
  }
}
