.hero {
  margin: 0 34px;
  padding: 70px 36px 36px;
  background-color: $white;
  border-radius: $medium-radius;
  @media (min-width: 1920px) {
    margin: auto;
  }
  & .container {
    display: flex;
    gap: 80px;
    padding: 0;
  }

  &__img {
    overflow: hidden;

    width: 35vw;
    max-width: 880px;
    max-height: 690px;

    object-fit: cover;
    object-position: top;
    border-radius: $medium-radius;
    @include bp(xxl) {
      width: 100%;
    }
  }

  &-wrapper {
    display: flex;
    flex-basis: 55%;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-around;
    @include bp(xxl) {
      flex-basis: auto;
    }
  }
  &-title {
    line-height: 1;
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 32px;
    align-items: center;
    & li {
      flex-basis: 45%;
      // font-size: var(--small-text-size);
    }
  }
}

@include bp(lg) {
  .hero {
    margin: 0;
    padding: 30px 16px 16px;

    & .button {
      width: 100%;
      padding: 20px 0;
    }
  }
  :root {
    --title-size: 6.25vw;
    --subtitle-size: 3.95vw;
    --text-size: 3.35vw;
    --small-text-size: 2.2vw;
  }
}
