.join {
  position: relative;
  padding: 85px 0 108px;

  & .container {
    display: flex;
    justify-content: flex-end;

    @include bp(xxl) {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

    @include bp(xxl) {
      width: 100%;
    }

    @include bp(xl) {
      width: 100%;
    }

    @include bp(lg) {
      align-items: center;
    }
  }

  &__partner-button {
    @include bp(xs) {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }

  & h5 {
    margin-bottom: 40px;

    @include bp(lg) {
      text-align: center;
    }
  }

  &__decor-wrapper {
    position: absolute;
    z-index: -1;
    inset: 0;
  }

  &__decor {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateX(-45%);

    width: 800px;
    height: 600px;

    @include bp(xxl_custom) {
      top: -10%;
      width: 500px;
      height: 700px;
    }
  }
  &__message {
    top: 250px;
    left: 17%;
    max-width: 500px;
    font-family: "CTC_Bold", sans-serif;

    & p {
      margin-bottom: 32px;
      text-transform: uppercase;
    }

    @include bp(xxl_custom) {
      left: 30px;
    }

    @include bp(xxl) {
      position: relative;
      inset: unset;
      max-width: unset;
    }
  }
  &-list {
    & li {
      display: flex;
      align-items: center;

      min-height: 50px;
      margin-bottom: 16px;
      padding-left: 90px;

      &::before {
        width: 50px;
        height: 50px;
        border-radius: 10px;
      }
    }
  }
  &__shadow {
    position: absolute;
    z-index: -2;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);

    width: min(100%, 976px);
    height: min(100%, 976px);

    background: radial-gradient(50% 50% at 50% 50%, rgba(145, 189, 31, 0.15) 0%, rgba(244, 251, 240, 0.15) 100%);

    &:nth-child(1) {
      top: 82px;
      left: 82px;
      transform: translate(0, 0);
    }
  }

  @include bp(md) {
    padding-bottom: 0;
  }
}
