.service {
  display: flex;
  flex-direction: column;
  row-gap: 48px;

  width: 100%;
  padding: 22px 0;

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 792px;
  }

  &__heading {
    font-size: px-to-rem(32);
  }

  &__paragraph {
    font-size: px-to-rem(18);
  }

  &__table {
    tr {
      td,
      th {
        &:nth-child(1) {
          width: 191px;
        }

        &:nth-child(3) {
          width: 288px;
        }
      }
    }
  }
}
