.concept {
  position: relative;

  &-section {
    &-header {
      max-width: 75%;
      margin-bottom: 80px;
      @include bp(xxl) {
        max-width: 90%;
      }
      @include bp(md) {
        margin-bottom: 32px;
      }
    }
  }
  &__decor-wrapper {
    position: absolute;
    z-index: -1;
    inset: 0;
  }
  &__decor {
    position: absolute;
    z-index: -1;
    top: -22%;
    right: 0;
    transform: rotate(339deg) translateX(108px);

    width: 500px;
    height: 950px;
    @include bp(xxl) {
      top: -100px;
      width: 300px;
      height: auto;
    }
    @include bp(lg) {
      transform: rotate(339deg) translateX(75px);
      width: 200px;
    }
    @include bp(md) {
      top: -50px;
      width: 160px;
    }
  }
  &__message {
    top: 190px;
    right: 70px;
    max-width: 400px;
    @include bp(xxl) {
      display: none;
    }
  }
  &__img {
    position: absolute;
    z-index: -1;
    left: 0;
    @include bp(xxl_custom) {
      width: 500px;
    }
    @include bp(xl) {
      width: 400px;
    }
    @include bp(lg) {
      display: none;
    }
  }
  &__shadow {
    position: absolute;
    z-index: -2;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);

    width: min(100%, 976px);
    height: min(100%, 976px);

    background: radial-gradient(50% 50% at 50% 50%, rgba(145, 189, 31, 0.15) 0%, rgba(244, 251, 240, 0.15) 100%);
    &:nth-child(1) {
      top: 82px;
      left: 82px;
      transform: translate(0, 0);
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
    gap: 200px;
    justify-content: flex-end;
  }

  &__services {
    margin-bottom: 170px;
    padding: 50px 60px;

    color: $white;

    background: linear-gradient(110deg, #91bd1f 1.85%, #3aa635 97.94%);
    border-radius: $medium-radius;
    box-shadow: 0px 0px 20px 0px rgba(4, 86, 0, 0.05);
    @include bp(xxl) {
      margin-bottom: 100px;
    }
    @include bp(md) {
      margin-bottom: 40px;
    }
    & h6 {
      margin-bottom: 36px;
      color: $white;
      @include bp(lg) {
        text-align: center;
      }
    }
    & ul {
      display: grid;
      grid-template-columns: repeat(2, minmax(max-content, 1fr));
      margin-bottom: 48px;
      @include bp(sm) {
        grid-template-columns: 1fr;
      }
      & li {
        position: relative;

        width: fit-content;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 64px;
        &:before {
          top: 50%;
          left: 22px;
          transform: translateY(-50%);
        }
        & p {
          position: absolute;
          z-index: 2;
          top: 0;
          right: 100%;

          display: none;

          width: 450px;
          padding: 24px 28px;

          background-color: $white;
          border-radius: $medium-radius;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

          &.active {
            display: block;
          }
        }
      }
    }
    & .button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
    }
    @include bp(lg) {
      width: 100%;
      padding: 24px 8px;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    @include bp(md) {
      flex-direction: column;
    }
  }
}
