body {
  background: #fff;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.typography {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;

  hr {
    width: 100%;
    color: #7e7e7e;
  }
}

.ui-kit {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;

  padding: 50px;

  background-color: #a3a3a3;
}
