body {
  overflow-x: hidden;
  background-color: $green-light;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-right: 120px;
  padding-left: 120px;

  @include bp(xl) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @include bp(lg) {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include bp(md) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.typography {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;

  hr {
    width: 100%;
    color: #7e7e7e;
  }
}

.ui-kit {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;

  padding: 50px;

  background-color: #a3a3a3;
}
