.modal_burger-menu {
  top: 0;
  left: -260px;
  translate: unset;

  width: 260px;
  height: 100dvh;
  margin: unset;
  padding: 80px 16px 32px;

  border-radius: 0;

  @include bp(xs) {
    padding-top: 40px;
  }
}

.burger-menu-backdrop {
  bottom: unset;
  width: 100dvw;
  height: 100dvh;
}
