.modal-forgot {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 121px;
    text-align: center;
  }

  &__control {
    max-width: 405px;
    margin-bottom: 212px;
  }
}
