.form-controll {
  position: relative;

  &__input {
    padding-right: 16px;
    padding-bottom: 12px;

    font-family: inherit;
    font-size: inherit;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid $black;
    outline: none;
    &::placeholder {
      color: $text-light;
    }
  }

  &:has(input[type="radio"]) {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    padding-left: 38px;

    & input {
      cursor: pointer;

      position: absolute;
      z-index: 1;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);

      height: 22px;

      opacity: 0;
      &:focus {
        & ~ .form-controll__indicator {
          background-color: $green;
        }
      }
    }
  }

  &:has(input[type="checkbox"]) {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    padding-left: 30px;

    & input {
      cursor: pointer;

      position: absolute;
      z-index: 1;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);

      height: 22px;

      opacity: 0;

      &:checked {
        & ~ .form-controll__indicator {
          background-color: $green;
        }
      }
    }
  }

  &__indicator {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 22px;
    height: 22px;

    background-color: $white;
    border: none;
    border-radius: 5px;
  }
  &__error {
    position: absolute;
    bottom: -36px;
    left: 0;
    color: $red;
  }
}
