.shadow-circle {
  aspect-ratio: 1 / 1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(145, 189, 31, 0.3) 0%,
    rgba(244, 251, 240, 0.3) 63.5%,
    rgba(244, 251, 240, 0.3) 98.5%
  );
  border-radius: 50%;
}
